IMG.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }
    /* Add a black background color to the top navigation */
    .topnav {
        background-color: #000000;
        overflow: hidden;
        font-family: 'Poiret One', cursive;
    }

    /* Style the links inside the navigation bar */
    .topnav a {
        float: left;
        color: white;
        text-align: center;
        padding: 20px 22px;
        text-decoration: none;
        font-size: 20px;
    }

    /* Change the color of links on hover */
    .topnav a:hover {
        background-color: #dddd;
        color: black;
        opacity: .8;
    }

    /* Add a color to the active/current link */
    .topnav a.active {
        background-color: #d11d1d;
        color: black;
    }
h6 {
  background-color:  #d11d1d;
}
h6 {
    background-color: #000000;
}
